<div class="row">
  <% @books.each do |book| %>
    <div class="col-sm-6 col-md-3">
      	<a href="/<%= book.id %>">
      		<%= link_to (image_tag book.book_img.url(:book_index), class: 'book'), book %>
		</a>
    </div>
  <% end %>
</div>
